<div class="nav-page">
	<div class="container">
		<div class="row">
			<div class=" offices col-xs-12 col-lg-12">
				<h1>Offices</h1>
				<hr>
				<p>List of local offices in England & Wales: </p>
				<div class="local-offices hidden-xs">
					<% @offices.each do |office|%>
					<ul>
						 <h3><strong><%= office.name %></strong></h3>
						 <h4><i class="fa fa-envelope"></i>  <a href="mailto:<%= office.email %>"><%= office.email %></a></h4>
						 <h4><i class="fa fa-phone"></i>  <a href="tel:<%= office.tel %>"><%= office.tel %></a></h4>
					 </ul>
					<% end%>
				</div>
				<div class="local-offices-mobile hidden-lg hidden-sm hidden-md" >
					<% @offices.each do |office|%>
						 <h3><strong><%= office.name %></strong></h3>
						 <h4><i class="fa fa-envelope"></i> <a href="mailto:<%= office.email %>"><%= office.email %></a></h4>
						 <h4><i class="fa fa-phone"></i> <a href="tel:<%= office.tel %>"><%= office.tel %></a></h4>
					<% end%>
				</div>
			</div>
		</div>	
	</div>
</div>