<div class="nav-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h1>
                    Products<br>
                </h1>
                <hr>
                <p>
                    PSG Energy has the knowledge, resources and expertise to help provide assessments for you. PSG Energy has national coverage with a flexible customer-focused services, excellent breadth of experience and offers value-added project support.
                </p>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-offset-1">
                <p><%= link_to("Residential EPCs", residential_epc_path) %></p>
                <p><%= link_to("Commercial EPCs", commercial_epc_path) %></p>
                <p><%= link_to("Floor Plans", floorplans_path) %></p>
                <p><%= link_to("Eco Boiler Scheme", eco_boiler_path) %></p>
                <p><%= link_to("DECs", decs_path) %></p>
                <p><%= link_to("SAPs", saps_path) %></p>
            </div>

            <div class="col-xs-12 col-sm-5 ">
                <p><%= link_to("Air Pressure Testing", air_pressure_path) %></p>
                <p><%= link_to("Acoustic Testing", acoustic_path) %></p>
                <!--<p><= link_to("Code for Sustainable Homes", sustainable_home_path) %></p>-->
                <p><%= link_to("Asbestos Surveys", asbestos_path) %> </p>
                <p><%= link_to("Air Conditioning Inspections", aircon_path) %></p>
                <p><%= link_to("Fire Risk Assessments", fire_risk_path) %></p>
                <p><%= link_to("Legionella", legionella_path) %></p>
            </div>
        </div>
    </div>
</div>
