
<div id="localOffice">
    <h3><strong><%= @office[0].name %></strong></h3>
    <h4>
        Email Us: <a href="mailto:<%= @office[0].email %>"><%= @office[0].email %></a>
    </h4>
    <h4>
        Call us: <a href="tel:<%= @office[0].tel %>"><%= @office[0].tel %></a>
    </h4>
</div>