<div class="footer">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-4 col-md-3 footer-info">
                <h4>Contact us</h4>
                <p>PSG Energy LTD (Head Office) </p>
                <p>6 Great Cliffe Court,</p>
                <p>Great Cliffe Road,</p>
                <p>Dodworth, </p>
                <p>Barnsley, </p>
                <p>S75 3SP</p>
                <p>Telephone: <a href="tel:+1226320070">01226 32 00 70</a></p>
                <p>Fax: 01226 24 00 95</p>
                <p>Email: <a href="mailto:orders@psgenergy.co.uk">orders@psgenergy.co.uk</a></p>
            </div>

            <div class="hidden-xs hidden-sm col-md-3 footer-info">
                <h4>Site Map</h4>
                <p><%= link_to("About us", about_path) %></p>
                <p><%= link_to("Products", products_path) %></p>
                <p>news </p>
                <p><%= link_to("Contact us", contact_path) %>  </p>
                <p><%= link_to("Terms and conditions", terms_and_conditions_path) %></p>
                <p><%= link_to("Privacy Policy", privacy_policy_path) %> </p>
                <p><%= link_to("Cookies", cookies_path) %> </p>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3 footer-info">
                <h4>Keep in touch</h4>
                <p><a href="http://twitter.com/psg_energy" target="_blank" class="footer-smicon"><i class="fa fa-twitter"></i> Twitter</a></p>
                <p><a href="http://www.facebook.com/psgenergyltd" target="_blank" class="footer-smicon"><i class="fa fa-facebook"></i> Facebook</a></p>
                <p><a href="http://www.psgenergy.co.uk/blog" class="footer-smicon"><i class="fa fa-paper-plane"></i> News</a>     </p>
                <p><a href="mailto:orders@psgenergy.co.uk"  class="footer-smicon"><i class="fa fa-envelope"></i> Email</a> </p>

                <span class="visible-xs visible-sm">
                    <h4>Site Map</h4>
                    <p><%= link_to("About us", about_path) %></p>
                    <p><%= link_to("Products", products_path) %></p>
                    <p>news </p>
                    <p><%= link_to("Contact us", contact_path) %>  </p>
                    <p><%= link_to("Terms and conditions", terms_and_conditions_path) %></p>
                    <p><%= link_to("Privacy Policy", privacy_policy_path) %> </p>
                    <p><%= link_to("Cookies", cookies_path) %> </p>
                </span>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3 footer-info">
                <h4>Products</h4>
                <p><%= link_to("Residential EPCs", residential_epc_path) %></p>
                <p><%= link_to("Commercial EPCs", commercial_epc_path) %></p>
                <p><%= link_to("Floor Plans", floorplans_path) %></p>
                <p><%= link_to("Green Deal Assessments", greendeal_path) %></a></p>
                <p><%= link_to("Eco Boiler Scheme", eco_boiler_path) %></p>
                <p><%= link_to("DECs", decs_path) %></p>
                <p><%= link_to("SAPs", saps_path) %></p>
                <p><%= link_to("Air Pressure Testing", air_pressure_path) %></p>
                <p><%= link_to("Acoustic Testing", acoustic_path) %></p>
                <p><%= link_to("Code for Sustainable Homes", sustainable_home_path) %></p>
                <p><%= link_to("Asbestos Surveys", asbestos_path) %> </p>
                <p><%= link_to("Air Conditioning Inspections", aircon_path) %></p>
                <p><%= link_to("Fire Risk Assessments", fire_risk_path) %></p>
            </div>
        </div>
        <div class="row footer-cp">
            <span>
                © PSG Energy 2016. PSG Energy Limited registered in England and Wales number 06363519. Registered Office 6 Great Cliffe Court, Great Cliffe Road, Barnsley, S75 3SP. VAT No 947 601 019.
            </span>
        </div>
    </div>

</div>
