<div class="main-menu">
    <div class="container">
        <div class="row main-menu">

            <div class="col-sm-4 menu">
                <h3><i class=" visible-xs fa fa-chevron-down"></i><span class="hidden-xs">Menu</span></h3>
             	<p><%= link_to("Home", root_path) %></p>
                <p><%= link_to("About us", about_path) %></p>
				<p><%= link_to("Offices", offices_path) %> </p>
                <p><%= link_to("Products", products_path) %></p>
                <p><%= link_to("News", news_index_path) %></p>
                <p><a href="https://apps.psgconnect.co.uk/users/registerepc" target="_blank">Register</a>  </p>
                <p><%= link_to("Contact us", contact_path) %></p>
            </div>

            <div class="col-sm-4 products-menu">
                <h3>Products</h3>
               	 <p><%= link_to("Residential EPCs", residential_epc_path) %></p>
                 <p><%= link_to("Commercial EPCs", commercial_epc_path) %></p>
                 <p><%= link_to("Floor Plans", floorplans_path) %></p>
                 <p><%= link_to("Green Deal Assessments", greendeal_path) %></a></p>
                 <p><%= link_to("Eco Boiler Scheme", eco_boiler_path) %></p>
               	 <p><%= link_to("DECs", decs_path) %></p>
                 <p><%= link_to("SAPs", saps_path) %></p>
            </div>

            <div class="col-sm-4 ">
                <h3 class="hidden-xs">...</h3>

                <p><%= link_to("Air Pressure Testing", air_pressure_path) %></p>
                <p><%= link_to("Acoustic Testing", acoustic_path) %></p>
                <p><%= link_to("Code for Sustainable Homes", sustainable_home_path) %></p>
                <p><%= link_to("Asbestos Surveys", asbestos_path) %> </p>
                <p><%= link_to("Air Conditioning Inspections", aircon_path) %></p>
                <p><%= link_to("Fire Risk Assessments", fire_risk_path) %></p>
                <p><%= link_to("Legionella", legionella_path) %></p>
            </div>
        </div>
    </div>

</div>
