
<div class="news-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h1>News</h1>
                <hr>

                <% @news.each do |news| %>

                    <div class="news-article-summary">
                        <h3><%= news.title %></h3>
                        <p>
                            <%= news.summary %>
                        </p>
                        <p><%= link_to 'Read Article', news, class: 'read-more' %></p>

                        <% if user_signed_in? %>
                            <%= link_to 'EDIT', edit_news_path(news), class: "btn btn-warning" %>
                            <%= link_to 'DESTROY', news, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-danger" %>
                        <% end %>

                        <hr>
                    </div>

                <% end %>


                <br>
                <% if user_signed_in? %>
                    <div class="well-sm text-center">
                        <%= link_to 'ADD ARTICLE', new_news_path, class: "btn btn-success" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>


