<div class="news-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h1><%= @news.title %></h1>
                <hr>
                <div class="news-full-text">
                    <%= @news.body.html_safe %>

                    <p>
                       <strong> <%= link_to 'Back', news_index_path %>  </strong>
                    </p>
                </div>
                <% if user_signed_in? %>
                    <div class="well-sm text-center">
                        <%= link_to 'EDIT ARTICLE', edit_news_path(@news), class: "btn btn-warning" %>
                        <%= link_to 'DESTROY ARTICLE', @news, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-danger" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>




