<%= image_tag "Contact-us.jpg", class: 'img-responsive img-fill hidden-xs' %>
<div class="nav-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h1>Get in touch...</h1>
                <hr>

                <%= form_for @contact, class:'form-group' do |f| %>
                    <div class="form-group">
                    <%= f.label :name %><br>
                    <%= f.text_field :name, required: true, class:'form-control' %>
                    </div>

                    <div class="form-group">
                    <%= f.label :email %><br>
                    <%= f.email_field :email, required: true, class:'form-control' %>
                    </div>

                    <div class="form-group">
                        <%= f.label :message %><br>
                        <%= f.text_area :message, as: :text, class:'form-control' %>
                    </div>

                    <div class="hidden">
                        <%= f.label :nickname %><br>
                        <%= f.text_field :nickname, hint: 'leave this field blank' %>
                    </div>
                    <div class="actions">
                        <%= f.submit 'SEND MESSAGE', class: "btn btn-success" %>
                    </div>
                <% end %>


            </div>
        </div>
    </div>
</div>

