<!DOCTYPE html>
<html>
<head>
  <title>Energy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag  'https://fonts.googleapis.com/css?family=Roboto:700,600,500,400,300' %>
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                
                </button>
                
                    <%= link_to (image_tag("energy-logo.png",alt: "logo", class: "nav-logo")), root_path, class:"navbar-brand"%>
                <a class="navbar-text hidden-xs hidden-sm" href="#">
                    <span>Specialist in <span class="navbar-text-green">ENERGY</span> surveys</span>
                </a>

                <% # TODO make this submit %>
                <form class="form-group form-inline hidden-xs" action = "https://apps.psgconnect.co.uk/users/login" method = "post">
                    <div class="form-group form-inline navbar-login hidden-xs">
                        <input type="text" name = "login" class="form-control" placeholder="Username">
                        <input type = "password" name = "password" class="form-control" placeholder="Password">
                        <button type="submit" class="btn btn-primary" value = "Sign In">SIGN IN</button>
                    </div>
                </form>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse mobile-menu" id="bs-example-navbar-collapse-1">
                 <form class="form-group form-inline visible-xs login-mobile" action = "https://apps.psgconnect.co.uk/users/login" method = "post">
                    <div class="form-group navbar-form navbar-right mobile-signin visible-xs ">
                        <input type="text" name = "login" class="form-control input-lg username-mobile" placeholder="Username">
                        <input type = "password" name = "password" class="form-control input-lg password-mobile" placeholder="Password">
                        <button type="submit" class="btn btn-primary btn-lg" value = "Sign In">SIGN IN</button>
                    </div>
                </form>
                <%= render("welcome/main_menu") %>

            </div><!-- /.navbar-collapse -->


        </div><!-- /.container-fluid -->
    </nav>

    <!--show alert and notice if relavant-->
    <% if notice %>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                     <h4 class="text-center text-danger"><%= notice %></h4>
                </div>
            </div>
        </div>
    <% elsif alert %>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div class="alert alert-danger text-center" role="alert"><%= alert %></div>
                </div>
            </div>
        </div>
    <% end %>
    <% if user_signed_in? %>
        <div class="text-center well-sm exit-banner">
            <%= link_to 'EXIT ADMIN MODE', destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
        </div>
    </div>

<% end %>


    <%= yield %>

    <%= render("welcome/footer") %>


</body>
</html>
